.products-component{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 20px;
    gap: 10px;
}

.filter-box{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0px 10px;
}
.filter-box p{
    font-weight: bold;
    background-color:darkgray;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.price-range-input-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}
.filter-btn{
    width: 80%;
    height: 40px;
    margin: 10px auto;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 30px;
    overflow: hidden;
}
.product-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
.product-img{
    width: 50%;
}
.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0,0,0,0.7);
  color: white;

  padding: 10px;

  transform: translateY(110%);
  transition: 0.3s;
}
.product-card:hover .product-overlay {
  transform: translateY(0);
}
.product-dec{
    height: 100px;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 14px;
}
.product-btn{
    text-align:center;
}
.addToCart-btn{
    height: 30px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 4px 4px;
}
.addToCart-btn:active{
    background-color: cornflowerblue;
}
.addToCart-btn:hover{
    background-color: blue;
    cursor: pointer;
}
.added-modal{
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    bottom: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 13);
}
.detailProduct-btn{
    height: 30px;
    background-color:rgba(9, 255, 0, 0.658);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 4px 4px;
}

@media (max-width: 400px){
    .products-component{
        grid-template-columns: 1fr;
    }
    .filter-box{
        display: none;
    }
}